*{
    padding: 0;
    margin: 0;
    }
    
    
    .logo-cabeçalho {
        width: 8%;
    
    }

    


    

    header{
        background-color:#747070;
        justify-content: center;
        
        }
        .cabeçalho-imagem{
             width: 20%;
    align-items: center;
j
        }



        .cabeçalho-imagemm{
            width: 70%;
       }



   