*{
    padding: 0;
    margin: 0;
    }
    
    
    .logo-cabeçalho {
        width: 5%;
    }

    


    

    header{
        background-color:#fdfdfd;
        justify-content: center;
        
        }
        .cabeçalho-imagem{
             width: 40%;
        }